@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.plus {
  transform: scaleX(1) rotate(0deg);
}

.minus {
  transform: scaleX(0) rotate(0deg);
}

.link-underline {
  position: relative;
  text-decoration: none;
}

.link-underline::before {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust this value to control the distance of the line from the text */
  left: 0;
  width: 0;
  height: 3px; /* Adjust this value to control the thickness of the line */
  background-color: #d434fe; /* Adjust this color to your preference */
  transition: width 0.3s ease; /* Adjust the animation speed as needed */
}

.link-underline:hover::before {
  width: 100%;
}

.gradient-border {
  border-width: 2px; /* Adjust the border width as needed */
  border-image: linear-gradient(270deg, #903aff, #d434fe, #ff26b9, #fe34b9);
  border-image-slice: 1; /* Ensures the entire border is covered by the gradient */
  border-image-source: linear-gradient(
    270deg,
    #903aff,
    #d434fe,
    #ff26b9,
    #fe34b9
  );
  /* Add other button styling properties as needed */
}
